/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation; /* 터치를 사용한 스크롤, 핀치 줌만 허용하고 그 외 비표준 동작 (더블 탭으로 확대 등) 불허용 */
}

:root {
  --primary-color: #E4FF00;
  --secondary-color: #297fb8;
  --background-color: #192032;
  --text-color: #333;
  --accent-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 485px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--shadow-color);
  padding-top: 8px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

h2,
h1 {
  text-align: center;
}

input, select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 0.8rem;
  touch-action: manipulation; /* 터치를 사용한 스크롤, 핀치 줌만 허용하고 그 외 비표준 동작 (더블 탭으로 확대 등) 불허용 */
}

button {
  background-color: #ccc;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-color);
}
